/venv

/__pycache__
/app/schema/__pycache__
/app/api/__pycache__
/app/llm/__pycache__
/app/services/__pycache__
/app/ingestion/__pycache__
/app/retrieval/__pycache__

/.env

/docs
/data

/scripts/__pycache__